
/* NAV BAR CSS */
.navbar-default{
    /*background: transparent;*/
    background: linear-gradient(to right, rgba(0,0,0,0) , rgba(0,0,0,0.9)); /* Standard syntax (must be last) */
    border:none !important;
}

.navbar-brand{
  display: none;
}

.navbar-nav>li>a:hover{
    color:#1a1a1a;
} 

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus
.spacer{
   background-color:#888;   
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-image:none !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #15ACA0;
}

.spacer{
    height:100px;
}


.divWithBgImage {
  width: 100%;
  height: 120px;
/*  background-image: url(https://image.freepik.com/free-photo/person-running_1112-546.jpg);*/
  /*filter: sepia(20%) saturate(100%) hue-rotate(150deg);*/
  background-image: url("/img/Banner2.jpg");
  background: linear-gradient(right, black, white);
  background-repeat: no-repeat;
  background-size: 100% ;
  background-position: 200px -30px;
  overflow: hidden;

/*
  background-size: 100% 100%; //stretch resize
*/

}

/* Logo Image in Banner Div*/
div.image{
  padding-top: 10px;
  padding-left: 40px;
  float:left;
}
div.image:before {

    position: absolute;
    content:"";
    width:18%;
    height:18%;
    background:url("/img/1logo.png");
    background-repeat:no-repeat; 
    background-position: 100% center;
    background-size: contain;
    
}
/* Div at the right side of the banner */
div.banner-content-right{
  padding-top: 10px;
  margin-right: 400px;
  float:right;
}
/* Div at the center of the banner */
div.banner-content-center{
  padding-top: 10px;
  padding-left:280px;
  float:left;
}
div.banner-content-center >ul{
    list-style-image: url("/img/bullet.png");
    padding-left: 0pt;
}
div.banner-content-center >ul li{
  float:0;
  color: #1A6B70;
  font-weight: bolder;
  font-size: 11px;
  margin:0;
  font-family: "Arial", Verdana, sans-serif;
}



@media screen and (max-width: 600px) {
  .divWithBgImage {
    visibility: hidden;
    height: 0px;
  }

  .navbar-brand{
    display: inline !important;
  }

/*  .nav-collapse .dropdown-menu {
    display: none;
  }
  .nav-collapse .open>.dropdown-menu{
    display:block;
  }*/
  .navbar-default{
    /*background: transparent;*/
    background: linear-gradient(to right, rgba(0,0,0,0) , rgba(0,0,0,0.9)); /* Standard syntax (must be last) */
    border:none !important;
  }


}


/* Table CSS */
table {
  table-layout: fixed;
  width: 100%;   
  font-size: 2vh;
}

th,td {
  border-style: solid transparent;
  border-width: 0.01px;
  word-wrap: normal;
}

td > .right{
  text-align: right;
}


/* Link CSS*/
a{
   color: #1A6B70;
}
a:hover {
  color: black;
}
   

/* PANEL CSS */
.panel {
    border: 0.1px solid #dddddd;
    border-radius: 0.1px;
    margin-bottom: 6px;

}

.panel-1 > .panel-heading {
    display: block;
    padding:0;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color:black;
    background-color: transparent;
    border-top: solid 3px;
    border-top-color: #15ACA0;


}

.panel-2 > .panel-heading {
    height: 20px;
    padding-top: 0;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    color:black;
    background-color: transparent;
    border-left: solid 6px;
    border-left-color: #15ACA0;
}

.panel-2 > .panel-body {
    border-left: solid 6px;
    border-left-color: #15ACA0;
}

/* Button CSS */
.btn {
  background-color: #15ACA0;
  border-color:  #15ACA0;
}

/* Panel padding */
.padding-0{
  padding-right:0px;
  padding-left: 0px;
}
.padding-1{
  padding-right:1px;
  padding-left: 1px;
}

.padding-3{
  padding-right:5px;
  padding-left: 5px;
}

.bordered-left{
  border-left: 0.1px solid #15ACA0;
}


/* TABS heading font-size */
.nav-tabs li a {font-size:14px;}


